.about-section {
  background-color: var(--dark-grey);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  .img-container {
    border-radius: 10px;
    img {
      border-radius: 10px;
      box-shadow: 3px 3px 10px var(--black);
      transition: 200ms;
    }
    img:hover {
      box-shadow: 4px 4px 9px var(--black);
      transition: 200ms;
      transform: scale(1.02);
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .about-section {
    padding: 5rem;
    min-height: calc(100vh - var(--desktop-navbar-height));
    height: fit-content;
    .img-container {
      img {
        width: 450px;
      }
    }
    .about-text-container {
      padding-left: 1rem;
      width: 50%;
      border-left: 1px solid var(--black);
    }
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .about-section {
    padding: 2rem;
    min-height: calc(100vh - var(--mobile-navbar-height));
    height: fit-content;
    .img-container {
      img {
        width: 320px;
      }
    }
    .about-text-container {
      padding-top: 1rem;
      width: 100%;
      border-top: 1px solid var(--black);
    }
  }
}
