<div class="prices-section">
  <p class="txt-black txt-font-bold txt-xl">{{ 'PRICES' | translate }}</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">{{ 'SERVICE' | translate }}</th>
        <th scope="col">{{ 'PRICE' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{ 'SERV_HAIRCUT' | translate }}</td>
        <td>6.500 HUF</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{ 'SERV_BEARD' | translate }}</td>
        <td>5.000 HUF</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{ 'SERV_BEARD_HAIRCUT' | translate }}</td>
        <td>10.000 HUF</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{ 'SERV_LONGHAIR' | translate }}</td>
        <td>8.000 HUF</td>
      </tr>
    </tbody>
  </table>
</div>
