.home-container {
  overflow-y: auto;
  height: 100vh;
  position: relative;

  .hero-section {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .card {
      min-width: 350px;
      text-align: center;
      width: 40%;
      border-radius: 20px;
      padding: 2rem;
      align-items: center;
      background-color: var(--card-opaque-grey);
      backdrop-filter: blur(15px);
      .title,
      .subtitle {
        width: 100%;
        text-align: start;
      }
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .home-container {
    margin-top: var(--desktop-navbar-height);
    .hero-section {
    }
    .section {
      min-height: calc(100vh - var(--desktop-navbar-height));
      height: fit-content;
    }
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .home-container {
    margin-top: var(--mobile-navbar-height);
    .hero-section {
    }
    .section {
      min-height: calc(100vh - var(--mobile-navbar-height));
      height: fit-content;
    }
  }
}
