.ref-section {
  p {
    color: white;
    mix-blend-mode: difference;
  }
  .lightgallery {
    img {
      margin: 1rem;
      width: 250px;
      border-radius: 5px;
      box-shadow: 3px 3px 10px var(--black);
      transition: 200ms;
    }
    img:hover {
      box-shadow: 4px 4px 9px var(--black);
      transition: 200ms;
      transform: scale(1.02);
    }
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 701px) {
  .ref-section {
    padding: 5rem;
    min-height: calc(100vh - var(--desktop-navbar-height));
    height: fit-content;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 700px) {
  .ref-section {
    padding: 2rem;
    min-height: calc(100vh - var(--mobile-navbar-height));
    height: fit-content;

    .lightgallery {
      a {
      }
      img {
        margin: 0.5rem;
        width: 120px;
      }
    }
  }
}
