<div class="ref-section mx-auto">
  <lightgallery class="lightgallery" [settings]="settings" [onBeforeSlide]="onBeforeSlide">
    <a href="assets/img/refs/img1.jpg">
      <img alt="Rövid haj átmenettel" src="assets/img/refs/img1.jpg" />
    </a>
    <a href="assets/img/refs/img2.jpg">
      <img alt="Fiatalosabb, de hosszabb!" src="assets/img/refs/img2.jpg" />
    </a>
    <a href="assets/img/refs/img3.jpg">
      <img alt="Egykor ilyen is volt..." src="assets/img/refs/img3.jpg" />
    </a>
    <a href="assets/img/refs/img4.png">
      <img alt="Szakáll+haj, a mai divat!" src="assets/img/refs/img4.png" />
    </a>
    <a href="assets/img/refs/img5.jpg">
      <img alt="Rövid átmenet festéssel" src="assets/img/refs/img5.jpg" />
    </a>
  </lightgallery>
</div>
